*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
target/

# Package Files #
*.jar
*.war
*.ear

.project
.classpath
.settings
.metadata
.checkstyle
.MF


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA
.idea
/pom.xml
.DS_Store

~/
